.code-day {
    color: #262626
}
.box {
    position: relative;
    margin-top: -44px;
}
.custom-code-block-dev p {
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 600;
}
.code-3 {
    white-space: pre-wrap;
    font-family: fangsong;
}
.code {
    white-space: pre-wrap;
    display: block;
    margin: 0 auto;
    width: 659px;
    position: relative;
    /* bottom: 30px; */
    color: #fff;
    background-color: #373737;
    /* background-color: #373737; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 11px 0px 11px;
    font-size: 14px;
    line-height: 1.5;
}
.title-block {
    white-space: pre-wrap;
    display: block;
    margin: 0 auto;
    width: 659px;
    position: relative;
    bottom: 15px;
    color: #fff;
    background-color: #373737;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 11px 5px 11px;
    font-size: 14px;
}
.code-day {
    color: #262626
}
.cursor-3 {
    display: inline;
}
.cursor-2 {
    position: relative;
    bottom: 3px;
    color: #fff;
    background-color: #fff;
    width: 9px;
    height: 19px;
    line-height: 1;
    display: inline-block;
    animation: blink 0.19s infinite;
}
pre code {
    white-space: break-spaces;
}
pre code p {
    display: inline;
    line-height: 2;
}
.icon-fuzhi {
  font-size: 13px;
}