@font-face {
  font-family: "iconfont"; /* Project id 4197599 */
  src: url('iconfont.woff2?t=1691932361246') format('woff2'),
       url('iconfont.woff?t=1691932361246') format('woff'),
       url('iconfont.ttf?t=1691932361246') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Claude2:before {
  content: "\e614";
}

.icon-a-Chatgpt35:before {
  content: "\e615";
}

.icon-tishi:before {
  content: "\e609";
}

.icon-tishi1:before {
  content: "\ed02";
}

.icon-tishi2:before {
  content: "\10088";
}

.icon-dibudaohanglan-:before {
  content: "\e637";
}

.icon-daohang:before {
  content: "\e62e";
}

.icon-daohang1:before {
  content: "\f06f";
}

.icon-shanchu:before {
  content: "\e62b";
}

.icon-delete:before {
  content: "\e60d";
}

.icon-shanchu1:before {
  content: "\e639";
}

.icon-bofang:before {
  content: "\e63a";
}

.icon-shezhi:before {
  content: "\e6d8";
}

.icon-a-shezhi:before {
  content: "\e607";
}

.icon-shezhi1:before {
  content: "\e608";
}

.icon-shenglvehao:before {
  content: "\e625";
}

.icon-shenglvehao1:before {
  content: "\ebb0";
}

.icon-shenglvehao2:before {
  content: "\e677";
}

.icon-shenglvehao3:before {
  content: "\e606";
}

.icon-shousuo2:before {
  content: "\e604";
}

.icon-shousuo3:before {
  content: "\e678";
}

.icon-wmf-common43:before {
  content: "\e8e1";
}

.icon-tubiao-:before {
  content: "\e624";
}

.icon-tubiao-1:before {
  content: "\e626";
}

.icon-cs-dw-xs-1:before {
  content: "\e62c";
}

.icon-cs-dw-xx-1:before {
  content: "\e62d";
}

.icon-fuzhi:before {
  content: "\e617";
}

.icon-a-262-shousuoshuangse:before {
  content: "\e657";
}

.icon-a-Group231:before {
  content: "\e603";
}

.icon-caidan-shousuo:before {
  content: "\e60f";
}

.icon-shousuoxuanfu:before {
  content: "\e613";
}

.icon-shousuo:before {
  content: "\e605";
}

.icon-cebianlanshousuo:before {
  content: "\e601";
}

.icon-a-14_shousuo:before {
  content: "\e656";
}

.icon-shousuo1:before {
  content: "\e602";
}

.icon-githubb:before {
  content: "\e63b";
}

.icon-tuichu:before {
  content: "\e634";
}

.icon-tuichu1:before {
  content: "\e612";
}

.icon-tuichu2:before {
  content: "\e600";
}

.icon-tuichu3:before {
  content: "\e73c";
}

.icon-a-5_moxingtongbu:before {
  content: "\e616";
}

.icon-tupian:before {
  content: "\e744";
}

.icon-daima:before {
  content: "\e702";
}

.icon-changjianwenti:before {
  content: "\e80d";
}

.icon-cankaodaan:before {
  content: "\e611";
}

.icon-lujing:before {
  content: "\e691";
}

