@font-face {
  font-family: "iconfont"; /* Project id 4197599 */
  src: url('iconfont.woff2?t=1700811617749') format('woff2'),
       url('iconfont.woff?t=1700811617749') format('woff'),
       url('iconfont.ttf?t=1700811617749') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qingkong:before {
  content: "\e64b";
}

.icon-pages:before {
  content: "\e622";
}

.icon-a-result4:before {
  content: "\e621";
}

.icon-gongju:before {
  content: "\e620";
}

.icon-ppt:before {
  content: "\e61f";
}

.icon-bangzhu:before {
  content: "\e61e";
}

.icon-a-Chatgpt4:before {
  content: "\e61d";
}

.icon-neirong-chajianlixian:before {
  content: "\e635";
}

.icon-chajian:before {
  content: "\e69b";
}

.icon-chajianku:before {
  content: "\e64d";
}

.icon-yonghuguanli1:before {
  content: "\e63c";
}

.icon-yonghu1:before {
  content: "\e873";
}

.icon-baidu:before {
  content: "\e61c";
}

.icon-letter-chinese-a:before {
  content: "\e6bd";
}

.icon-moxing:before {
  content: "\e61b";
}

.icon-moxingtongbu:before {
  content: "\e681";
}

.icon-AImoxing-01:before {
  content: "\e61a";
}

.icon-fujian:before {
  content: "\e619";
}

.icon-jilu:before {
  content: "\e627";
}

.icon-xiaoxilishi:before {
  content: "\e6e1";
}

.icon-lishijilu:before {
  content: "\e63d";
}

.icon-lishijilu1:before {
  content: "\e69d";
}

.icon-lishishuju:before {
  content: "\e610";
}

.icon-wenxinyiyan:before {
  content: "\e77e";
}

.icon-kedaxunfeiLOGO-:before {
  content: "\e60e";
}

.icon-xunfeilogo:before {
  content: "\e60c";
}

.icon-fasong:before {
  content: "\e652";
}

.icon-icon-test:before {
  content: "\e6b4";
}

.icon-send-01:before {
  content: "\e727";
}

.icon-fasong1:before {
  content: "\e704";
}

.icon-shanchu2:before {
  content: "\e705";
}

.icon-ziyuan:before {
  content: "\e6b6";
}

.icon-huifu:before {
  content: "\e60a";
}

.icon-huifu1:before {
  content: "\e60b";
}

.icon-huifu2:before {
  content: "\e67d";
}

.icon-yonghuguanli:before {
  content: "\e6db";
}

.icon-yonghubangzhu:before {
  content: "\e618";
}

.icon-yonghuweihu:before {
  content: "\e64a";
}

.icon-yonghu:before {
  content: "\e7be";
}

.icon-shezhi2:before {
  content: "\e62a";
}

.icon-shezhi3:before {
  content: "\e6b9";
}

.icon-shezhi4:before {
  content: "\e764";
}

.icon-huishouzhan:before {
  content: "\e766";
}

.icon-huishouzhan1:before {
  content: "\e708";
}

.icon-huishouzhan2:before {
  content: "\e739";
}

.icon-Claude2:before {
  content: "\e614";
}

.icon-a-Chatgpt35:before {
  content: "\e615";
}

.icon-tishi:before {
  content: "\e609";
}

.icon-tishi1:before {
  content: "\ed02";
}

.icon-tishi2:before {
  content: "\10088";
}

.icon-dibudaohanglan-:before {
  content: "\e637";
}

.icon-daohang:before {
  content: "\e62e";
}

.icon-daohang1:before {
  content: "\f06f";
}

.icon-shanchu:before {
  content: "\e62b";
}

.icon-delete:before {
  content: "\e60d";
}

.icon-shanchu1:before {
  content: "\e639";
}

.icon-bofang:before {
  content: "\e63a";
}

.icon-shezhi:before {
  content: "\e6d8";
}

.icon-a-shezhi:before {
  content: "\e607";
}

.icon-shezhi1:before {
  content: "\e608";
}

.icon-shenglvehao:before {
  content: "\e625";
}

.icon-shenglvehao1:before {
  content: "\ebb0";
}

.icon-shenglvehao2:before {
  content: "\e677";
}

.icon-shenglvehao3:before {
  content: "\e606";
}

.icon-shousuo2:before {
  content: "\e604";
}

.icon-shousuo3:before {
  content: "\e678";
}

.icon-wmf-common43:before {
  content: "\e8e1";
}

.icon-tubiao-:before {
  content: "\e624";
}

.icon-tubiao-1:before {
  content: "\e626";
}

.icon-cs-dw-xs-1:before {
  content: "\e62c";
}

.icon-cs-dw-xx-1:before {
  content: "\e62d";
}

.icon-fuzhi:before {
  content: "\e617";
}

.icon-a-262-shousuoshuangse:before {
  content: "\e657";
}

.icon-a-Group231:before {
  content: "\e603";
}

.icon-caidan-shousuo:before {
  content: "\e60f";
}

.icon-shousuoxuanfu:before {
  content: "\e613";
}

.icon-shousuo:before {
  content: "\e605";
}

.icon-cebianlanshousuo:before {
  content: "\e601";
}

.icon-a-14_shousuo:before {
  content: "\e656";
}

.icon-shousuo1:before {
  content: "\e602";
}

.icon-githubb:before {
  content: "\e63b";
}

.icon-tuichu:before {
  content: "\e634";
}

.icon-tuichu1:before {
  content: "\e612";
}

.icon-tuichu2:before {
  content: "\e600";
}

.icon-tuichu3:before {
  content: "\e73c";
}

.icon-a-5_moxingtongbu:before {
  content: "\e616";
}

.icon-tupian:before {
  content: "\e744";
}

.icon-daima:before {
  content: "\e702";
}

.icon-changjianwenti:before {
  content: "\e80d";
}

.icon-cankaodaan:before {
  content: "\e611";
}

.icon-lujing:before {
  content: "\e691";
}

